body{
   font-family: 'Merienda', cursive;
   margin: 0px;
   min-width: fit-content;
}

ul{
   list-style: none;
}

a{
   text-decoration: none;
}

input, button{
   appearance: none;
   border: none;
   outline: none;
   background: none;
}

.conteiner {
   max-width: 100%;
   margin: 0px auto;
}

@media(max-width: 1440px){
   .container{
      max-width: 100%;
   }
}

@media(max-width: 990px){
   .container{
      max-width: 100%;
   }
}

@media(max-width: 770px){
   .container{
      max-width: none;
   }
}

/* header */

.main-bg {
   background: url('../img/our-coffee-main-bg.jpg') no-repeat;
   background-size: cover;
   height: 260px;
}

.header-menu {
   width: 355px;
   height: 40px;
   display: flex;
   flex-direction: row;
   gap: 40px;
   padding-left: 150px;
   padding-top: 30px;
   margin: 0px;
   align-items: flex-end
}

.header-menu-item {
   display: flex;
   flex-direction: row;
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   line-height: 17px;
   text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   color: #FFFFFF;
   height: 18px;
}

.item-1 {
   width: 77px;
}

.item-2 {
   width: 63px;
}
.item-3 {
   width: 104px;
}
.link-header{
   color: #FFFFFF;
}

.our-coffee-logo-header {
   transform: translateY(-55%);
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.header-title{
   display: flex;
   margin: 0px;
   justify-content: center
}

h1{
   width: 223px;
   height: 46px;
   font-style: normal;
   font-weight: 700;
   font-size: 40px;
   line-height: 58px;
   color: #FFFFFF;
}

/* about */

.about {
   padding-top: 70px;
}

.about-content {
   display: flex;
   justify-content: center;
   align-content: center;
   align-items: center;
   gap: 80px;
}

.about-content-items{
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 346px;
}

.about-content-description{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 10px;
   padding: 0px;
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 20px;
   text-align: center;
   color: #000000;
   margin: 0px;
}

.line{
   width: 240px;
   margin: 60px 40%;
   border-top:1px solid black;
   height:100%;
}

/* search */
.search {
   display: flex;
   justify-content: center;
   gap: 80px;
}

.search-input {
   display: flex;
   align-items: center;
   gap: 20px;
}

.search-input-title {
   width: 85px;
   height: 21px;
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 20px;
   color: #000000;
}

#search-input-enter{
   width: 180px;
   height: 30px;
   background: #FFFFFF;
   box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
   border-radius: 4px;
   text-align: center;
}

#search-input-enter::placeholder{
   width: 108px;
   height: 18px;
   font-family: 'Merienda';
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   line-height: 17px;
   align-items:center;
   text-align: center;
   color: rgba(0, 0, 0, 0.5);
   padding: 2rem;
}

.search-filter {
   display: flex;
   align-items: center;
   gap: 35px;
}
.search-filter-title {
   width: 56px;
   height: 21px;
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 20px;
   color: #000000;
}
.search-button {
   width: 75px;
   height: 30px;
   background: #FFFFFF;
   box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
   border-radius: 4px 0px 0px 4px;
}

.search-button-title{
   width: 35px;
   height: 18px;
   font-family: 'Merienda';
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   line-height: 17px;
   text-align: center;
   color: #000000;
}

.search-button:hover{
   opacity: 0.8;
}

.search-button:active{
   opacity: 0.6;
}

/* assortment */
.assortment {
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   padding-top: 60px;
   gap: 60px;
}
.assortment-coffee-menu {
   display: flex;
   gap: 70px;
}
.coffee-menu-item {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 14px;
   width: 220px;
   height: 260px;
   background: #FFFFFF;
   border-radius: 8px;
   filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.25));
}

.coffee-menu-link {
   text-decoration: none;
   color:rgba(0, 0, 0, 1);
}

.coffee-menu-link:hover{
   opacity: 0.8;
}

.coffee-menu-link:active{
   opacity: 0.6;
}

.coffee-image {
   margin: 37px 27px 14px 26px;
}

.coffee-name {
   margin: 0px 25px 14px 23px;
   width: 172px;
   height: 15px;
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 20px;
   color: #000000;
}

.coffee-country-made {
   margin: 0px 25px 14px 150px;
   width: 41px;
   height: 14px;
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 20px;
   color: #000000;
}

.coffee-country-columbia{
   margin: 0px 25px 14px 125px;
   width: 41px;
   height: 14px;
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 20px;
   color: #000000;
}

.coffee-price {
   margin: 0px 25px 22px 155px;
   width: 38px;
   height: 15px;
   font-style: normal;
   font-weight: 700;
   font-size: 14px;
   line-height: 20px;
   color: #000000;
}

/* footer */

footer{
   width: 100%;
   height: 150px;
}

.link-footer{
   text-decoration: none;
   color:rgba(0, 0, 0, 1);
}

.link-footer:hover{
   opacity: 0.8;
}

.link-footer:active{
   opacity: 0.6;
}

.footer-content{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 30px;
}

.footer-menu {
   width: 354px;
   height: 40px;
   display: flex;
   flex-direction: row;
   gap: 40px;
   padding-top: 30px;
   margin: 0px;
   align-items: flex-end
}

.footer-menu-item {
   display: flex;
   flex-direction: row;
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   line-height: 17px;
   height: 18px;
}

.icon-footer {
   display: flex;
   width: 35px;
   height: 35px;
}

.footer-logo {
   align-items: flex-end;
}